#  Listas

In [5]:
# Vamos a generar una lista vac√≠a

L = []

range(10)

range(0, 10)

In [7]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
impares = [i for i in range(1,101) if i%3==0]
impares

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [13]:
Pares = [i for i in range(1,101) if i%2==0 ]
Pares

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [14]:
import numpy as np

In [15]:
np.random.randint(10)

9